<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <title>Book Monster</title>
    <!-- Bootstrap core CSS -->
    <link href="assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="assets/css/internal.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
    </head>

    <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Book Monster</a>
        </div>
        <div class="navbar-search">
          <form class="form-inline" action="/search" method="post" id="search">
            <div class="form-group">
              <label class="sr-only" for="gossip">Query</label>
              <input type="text" class="form-control" id="gossip" name="text" size="75" maxlength="128" value="{{ gossip.text }}" />
            </div>
            <button type="submit" class="btn btn-default glyphicon glyphicon-search"></button>
          </form>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="book">
        <div class="row">
          <div class="col-md-3">
            <img src="assets/img/covers/large/{{ book.isbn }}.jpg" alt="" width="100%" height="100%">
          </div>
          <div class="col-md-5">
            <h1>{{ book.title }}</h1>
            <h2>{{ book.author }}</h2>

            <table class="table" id="attributes">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              <tr>
                <td class="attribute"><span class="glyphicon glyphicon-info-sign"></span> ISBN</td>
                <td>{{ book.isbn }}</td>
              </tr>
              <tr>
                <td class="attribute"><span class="glyphicon glyphicon-folder-open"></span> Theme</td>
                <td>{{ book.productClass }}</td>
              </tr>
              <tr>
                <td class="attribute"><span class="glyphicon glyphicon-book"></span> Imprint</td>
                <td>{{ book.imprint }}</td>
              </tr>
              <tr>
                <td class="attribute"><span class="glyphicon glyphicon-gbp"></span> Price (RRP)</td>
                <td>£{{ book.rrp }}</td>
              </tr>
              <tr>
                <td class="attribute"><span class="glyphicon glyphicon-calendar"></span> Publication Date</td>
                <td>{{ book.datePub }}</td>
              </tr>
              {% if book.prize %}
              <tr>
                <td class="attribute"><span class="glyphicon glyphicon-certificate"></span> Prize</td>
                <td>{{ book.prize }}</td>
              </tr>
              {% endif %}
              </tbody>
            </table>

            <!-- Buy button -->
            <div class="btn-group buy-button">
              <button type="button" class="btn btn-success">Buy this book</button>
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="http://www.amazon.co.uk/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords={{ book.title }}">Buy from Amazon.co.uk</a></li>
                <li><a href="#">Buy from Waterstones</a></li>
                <li><a href="#">Buy from Blackwells</a></li>
              </ul>
            </div>

          </div>
          {% if gossip %}
          <div class="col-md-4">
            <div class="query">
              <p>{{ gossip.text }}</p>
            </div>
            <p><a href="/search/{{ gossip.id }}">← Back to results</a></p>
          </div>
          {% endif %}
        </div>
      </div>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="assets/lib/bootstrap/js/bootstrap.min.js"></script>
    </body>
    </html>
